<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="QLBanSach" connectionString="Data Source=DESKTOP-CS49D3U;Initial Catalog=BTL_SQL;Integrated Security=True;&#xD;&#xA;			 Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;&#xD;&#xA;			 ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  <add name="QL_cửa_hàng_bán_sách.Properties.Settings.BTL_SQLConnectionString"
   connectionString="Data Source=DESKTOP-CS49D3U;Initial Catalog=BTL_SQL;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>